<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login"  >Giriş</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border">

    <h1>Hesap Oluştur</h1>
    <ion-item>
      <ion-label class="text" position="floating">Ad Soyad</ion-label>
      <ion-input [(ngModel)]="name" type="text" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="text" position="floating">E-posta</ion-label>
      <ion-input [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="text" position="floating">Şifre</ion-label>
      <ion-input [(ngModel)]="password" type="text" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="text" position="floating">Şifre(Tekrar)</ion-label>
      <ion-input [(ngModel)]="confirm_password" type="text" required></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="block"(click)="onSubmit()" [disabled]="disabledButton">
      Kayıt Ol
    </ion-button>
  <p>Kayıt işlemi gerçekleştirmeniz durumunda <br/><b><a href="#" text="modal açılacak">şartlar ve koşullarımızı</a></b> kabul etmiş olursunuz.</p>
</ion-content>
